body {
  background-color: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.produtos-container {
  width: 100%;
  max-width: 1150px;
  margin: 60px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
 
.secao-produtos {
  display: flex;
  flex-direction: column;
}
 
.titulo-linha {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
 
.barra {
  width: 6px;
  height: 28px;
  background-color: #e8cfc5; /* rosado suave */
  border-radius: 10px;
}
 
.titulo-linha h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b3a9a3;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  justify-items: center;
}
 
.produto-card {
  background-color: #f4f3f2;
  padding: 30px 20px;
  border-radius: 6px;
  text-align: center;
  width: 100%;
  transition: transform 0.3s ease;
}
 
.produto-card:hover {
  transform: scale(1.02);
}
 
.produto-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
 
.produto-img {
  object-fit: contain;
  width: 160px;
  height: auto;
}
 
.produto-nome {
  font-size: 1rem;
  font-weight: 500;
  color: #b58c82;
  text-transform: lowercase;
  margin-bottom: 3px;
}
 
.produto-marca {
  font-size: 0.85rem;
  font-weight: 400;
  color: #bdb4ae;
  text-transform: uppercase;
}
 
/* Responsividade */
@media (max-width: 768px) {
  .produtos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
 
  .produto-card {
    padding: 20px 10px;
  }
 
  .produto-img {
    width: 130px;
  }
 
  .titulo-linha h2 {
    font-size: 1rem;
  }
}