.navbar {
  background-color: #8faaa3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
  font-family: 'Arial', sans-serif;
  position: sticky;
  top: 0;
  z-index: 3000; 
}

.logo {
  display: flex;
  align-items: center;
}
 
.navLinksNav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: 4rem;
  font-size: 0.95rem;
}
 
.navLinksNav li a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
 
.navLinksNav li a:hover {
  color: #d9e3df;
  transform: scale(1.05);
}
 
.userIcon {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
 
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
 
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
 
  .logo {
    order: 1;
  }
 
  .userIcon {
    order: 2;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    margin-right: 10px;
  }
 
  .hamburger {
    order: 3;
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    z-index: 1001;
  }
 
  .navLinksNav {
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #8EAAA2;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2000;
    transition: all 0.3s ease-in-out;
  }
 
  .navLinksNav.showMenu {
    display: flex;
    animation: fadeIn 0.3s ease forwards;
  }
 
  .navLinksNav li a {
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
    transition: color 0.2s;
  }
 
  .navLinksNav li a:hover {
    color: #dfe7e3;
  }
}
 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}