@layer utilities {
  /* Esconde a barra de rolagem no Chrome, Safari e Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Esconde a barra de rolagem no IE, Edge e Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}