.admin-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 240px; /* Largura da sidebar aberta */
  transition: margin-left 0.3s ease;
}

.admin-content.sidebar-closed {
  margin-left: 70px; /* Largura da sidebar fechada */
}
