.container {
  padding: 20px;
}

.titulo-dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.iconeTitulo {
  color: #566363;
  font-size: 2rem;
}

.titulo-texto {
  font-size: 2.3rem;
  color: #566363;
  font-weight: 400; 
  font-family: 'Montserrat', sans-serif;
}


@media (max-width: 700px) {
  .titulo-texto {
    font-size: 1.8rem;
  }

  .btn-exportar {
    width: 100%;
    justify-content: center;
  }
}
